@using KnownUniversePoliticsGameWebApp.Data
@inject KnownUniversePoliticsGameService _politicsGameService
@inject KUPEventService _eventService;
<h3>Assign Player To Faction</h3>

@code {
    string playerName = string.Empty;
    int factionID = -1;
    bool FactionSet = false;

    void SetPlayerFaction()
    {
        _politicsGameService.SetPlayerFaction(playerName, factionID);
        FactionSet = true;
    }

    void SetAnotherFaction()
    {
        FactionSet = false;
        playerName = String.Empty;
        factionID = -1;
    }

}

@if (FactionSet)
{
    <p>@playerName's faction has been changed.</p>
    <button @onclick="SetAnotherFaction" type="button">Click me to do another!</button>
}
else
{

    <div>
        <div>
            <label for="player">Player</label>
            <select id="player" @bind="playerName">
                <option value="">None</option>
                @foreach (var player in _politicsGameService.PoliticsGame.Players)
                {
                    <option value="@player.Name">@player.Name</option>
                }
            </select>
        </div>
        <div>
            <label for="faction">Faction</label>
            <select id="faction" @bind="factionID">
                <option selected value="-1">None</option>
                @foreach (var faction in _politicsGameService.PoliticsGame.Factions)
                {
                    <option value="@faction.FactionID">@faction.Name (Controlled by: @(faction.Player?.Name ?? "No Player"))</option>
                }
            </select>
        </div>
        <div>
            @if (playerName != string.Empty && factionID != -1)
            {
                <button type="button" @onclick="SetPlayerFaction">Set Player to Control Faction</button>
            }
        </div>
    </div>
}