@using KnownUniversePoliticsGameWebApp.Data
<h3>AdminEventsView</h3>
@inject KUPEventService _eventService;
@inject KnownUniversePoliticsGameService _politicsGameService

@code {
    
}

    <div>
        <details>
            <summary><h4>List of Map Assets</h4></summary>
            <ul id="AssetsToLookAt">
                @foreach (var system in _politicsGameService.PoliticsGame.Sector.FilledSystems)
                {
                    foreach (var asset in system.PointsOfInterest)
                    {
                        if (asset.GetType() == typeof(KupPrimaryStation))
                        {

                            <li>@(((KupPrimaryStation) asset).PrimaryStationAsset)</li>
                        }
                        else if (asset.GetType() == typeof(KUPAsteroidAsset))
                        {
                            <ul>
                                <li>@(((KupPointsOfInterestAsteroid) asset).AsteroidAsset)</li>
                            </ul>
                        }
                        else if (asset.GetType() == typeof(KupPointsOfInterestWorld))
                        {

                            <ul>
                                <li>@(((KupPointsOfInterestWorld) asset).WorldAsset)</li>
                            </ul>
                        }
                        else if (asset.GetType() == typeof(KupPointsOfInterestStation))
                        {

                            <ul>
                                <li>@(((KupPointsOfInterestStation) asset).StationAsset)</li>
                            </ul>
                        }
                        else if (asset.GetType() == typeof(KupPointsOfInterestOther))
                        {

                            <ul>
                                <li>@(((KupPointsOfInterestOther) asset).OtherAsset)</li>
                            </ul>
                        }
                    }

                }
            </ul>
        </details>
    </div>