@page "/Trade"
@using KnownUniversePoliticsGameWebApp.Data
@using System.Diagnostics.Eventing.Reader
@inject KnownUniversePoliticsGameService PoliticsGameService
@inject KUPEventService EventService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
<h3>Trade Assets</h3>

@code {
    
    KUPPlayer? player;
    int targetFactionID = -1;
    private bool LoggedIn = false;
    bool hasBeenLoaded = false;
    bool AssetTransfered = false;
    List<int> AssetsToTrade = new List<int>();
    int AssetToTrade = -1;
    int FactionToGiveTo = -1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var loggedIn = await localStorage.GetItemAsync<string>("LoggedIn");
        if (loggedIn == "True")
        {
            var playerName = await localStorage.GetItemAsync<string>("LoggedInAs");
            player = PoliticsGameService.GetPlayer(playerName);
            LoggedIn = true;
        }
    }

    private void TransferAsset()
    {
        EventService.AddEvent(
            new KUPAssetTransferEvent(player.Faction.SenderID,targetFactionID,AssetsToTrade));
        AssetTransfered = true;
    }

    private void AddAsset()
    {
        if (player.Faction.Assets.Any(x => x.assetID == AssetToTrade))
        {
            AssetsToTrade.Add(AssetToTrade);
            AssetToTrade = -1;
        }
    }

    private void DoSomething()
    {
        var temp = LoggedIn;
        LoggedIn = temp;
    }

    private void AnotherTransfer()
    {
        hasBeenLoaded = false;
    }

    private void SetFaction()
    {
        targetFactionID = FactionToGiveTo;
    }

    private void ResetFaction()
    {
        targetFactionID = -1;
        FactionToGiveTo = -1;
    }

}

@if (LoggedIn)
{
    @if (AssetTransfered)
    {
        <p>Transfer complete.</p>
        <button @onclick="AnotherTransfer">Click me to do another</button>
    }
    else
    {
        <form>
            <label for="target">Transfer Asset To</label>
            
            @if (targetFactionID == -1)
            {

                <select @bind="FactionToGiveTo" id="target">
                    @foreach (var faction in PoliticsGameService.PoliticsGame.Factions)
                    {
                        <option value="@faction.ReciverID">
                            @faction.Name
                        </option>
                    }
                </select>
                <button type="button" @onclick="SetFaction">Click me to Set Target Faction</button>
            }
            else
            {
                <h4>Target Faction: @PoliticsGameService.GetFaction(targetFactionID) </h4>
                <button type="button" @onclick="ResetFaction">Reset Target Faction</button>
            }
            <label for="asset">Asset to Transfer</label>
            <select id="asset" @bind=AssetToTrade>
                         @foreach (var asset in player.Faction.Assets)
                            {
                                <option value="@asset.assetID">
                                    @asset
                                </option>
                            }
            </select>
            
            <button @onclick="AddAsset" type="button">Add Asset to Transfer List</button>
            <label for="assetsToTrade">Assets to Trade</label>
            <ul id="assetsToTrade">
                @foreach (var asset in AssetsToTrade)
                {
                    <li>@PoliticsGameService.GetAsset(asset)</li>
                }
            </ul>
            @if (targetFactionID != -1 && AssetsToTrade.Count > 0)
            {
                <button @onclick="TransferAsset">Transfer Asset</button>
            }
        </form>
    }
}
else
{
    
    <button type="button" @onclick="DoSomething">Click me.</button>
    <p>If not logged in, will do nothing. To log in, go to the player page and log in.</p>
}