@page "/MilitaryPage"
@using KnownUniversePoliticsGameWebApp.Data
@inject KnownUniversePoliticsGameService PoliticsGameService
@inject KUPEventService EventService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
<h3>MilitaryPage</h3>

@code {

    
    KUPPlayer player;
    bool LoggedIn = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var loggedIn = await localStorage.GetItemAsync<string>("LoggedIn");
        if (loggedIn == "True")
        {
            var playerName = await localStorage.GetItemAsync<string>("LoggedInAs");
            player = PoliticsGameService.GetPlayer(playerName);
            LoggedIn = true;
        }
    }
    
    
    private void DoSomething()
    {
        var temp = LoggedIn;
        LoggedIn = temp;
    }

    choiceTypes choice = choiceTypes.BuildShip;
    
    enum choiceTypes
    {
        BuildShip,
        Operation,
        OrderShip,
    }
    
    
    

}

@if (LoggedIn)
{
    <h3>@player.Faction.Name</h3>
    <div>
        <h4>List of Military Assets</h4>
        <ul>
            @foreach (var asset in player.Faction.GetMilitaryAssets())
            {
                <li>@asset</li>
            }
        </ul>
    </div>
    
    <select @bind="choice">
        <option value="@choiceTypes.BuildShip" >Build Ships </option>
        <option value="@choiceTypes.Operation" >Order an Operation </option>
        <option value="@choiceTypes.OrderShip" >Order Ships Around </option>
    </select>
    
    @if (choice == choiceTypes.Operation)
    {
        
        <OperationPage Faction="player.Faction"></OperationPage>
    }
    else if (choice == choiceTypes.BuildShip)
    {
        <BuildShip Faction="player.Faction"></BuildShip>
    }
    else if (choice == choiceTypes.OrderShip)
    {
    <OrderShip Faction = "player.Faction" ></OrderShip>
    }
}
else
{
    <button type="button" @onclick="DoSomething">Click me.</button>
    <p>If not logged in, will do nothing. To log in, go to the player page and log in.</p>
}