@using KnownUniversePoliticsGameWebApp.Data
@using System.Diagnostics.Eventing.Reader
@inject KnownUniversePoliticsGameService PoliticsGameService
@inject KUPEventService EventService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager
<h3>Trade Assets</h3>

@code {
    
    [Parameter] public KUPPlayer? player { get; set; }
    int targetFactionID = -1;
    bool AssetTransfered = false;
    List<int> AssetsToTrade = new List<int>();
    int AssetToTrade = -1;
    int FactionToGiveTo = -1;

    

    private void TransferAsset()
    {
        if (PoliticsGameService.CanTrasnferAsset(player.Faction.FactionID, AssetsToTrade))
        {

            EventService.AddEvent(
                new KUPAssetTransferEvent(player.Faction.SenderID, targetFactionID, AssetsToTrade));
            AssetTransfered = true;
            AssetsToTrade = new List<int>();
            ResetFaction();
            int AssetToTrade = -1;
            NavigationManager.NavigateTo("didTrade");
        }
        else
        {
            AssetTransfered = false;            AssetsToTrade = new List<int>();
            ResetFaction();
            int AssetToTrade = -1;
            NavigationManager.NavigateTo("failedToTrade");
        }
    }

    private void AddAsset()
    {
        if (player.Faction.Assets.Any(x => x.assetID == AssetToTrade))
        {
            AssetsToTrade.Add(AssetToTrade);
            AssetToTrade = -1;
        }
    }
    

    private void SetFaction()
    {
        targetFactionID = FactionToGiveTo;
    }

    private void ResetFaction()
    {
        targetFactionID = -1;
        FactionToGiveTo = -1;
    }

}

    <form>
            <label for="target">Transfer Asset To</label>
            
            @if (targetFactionID == -1)
            {

                <select @bind="FactionToGiveTo" id="target">
                    @foreach (var faction in PoliticsGameService.PoliticsGame.Factions)
                    {
                        <option value="@faction.ReceiverID">
                            @faction.Name
                        </option>
                    }
                </select>
                <button type="button" @onclick="SetFaction">Click me to Set Target Faction</button>
                <br/>
            }
            else
            {
                <h4>Target Faction: @PoliticsGameService.GetFaction(targetFactionID) </h4>
                <button type="button" @onclick="ResetFaction">Reset Target Faction</button>
                <br/>
            }
            <label for="asset">Asset to Transfer</label>
            <select id="asset" @bind=AssetToTrade>
                         @foreach (var asset in player.Faction.Assets)
                            {
                                <option value="@asset.assetID">
                                    @asset
                                </option>
                            }
            </select>
            <button @onclick="AddAsset" type="button">Add Asset to Transfer List</button>
            <br/>
            
            
            <label for="assetsToTrade">Assets to Trade</label>
            <ul id="assetsToTrade">
                @foreach (var asset in AssetsToTrade)
                {
                    <li>@PoliticsGameService.GetAsset(asset)</li>
                }
            </ul>
            @if (targetFactionID != -1 && AssetsToTrade.Count > 0)
            {
                <button type="button" @onclick="TransferAsset">Transfer Asset</button>
            }
        </form>