@page "/DisplaySystem/"
@using KnownUniversePoliticsGameWebApp.Data
<h3>DisplaySystem</h3>

@code {
    [Parameter] public KUPFilledSystem System { get; set; }
}

<ul>
    <li>@System.Name (@System.DisplayX, @System.DisplayY) Owned by: @System.SysetmAsset.Controller</li>
@foreach (var poi in System.PointsOfInterest)
{
    if (poi.GetType() == typeof(KupPrimaryStation))
    {
                        
        <li>@(((KupPrimaryStation) poi).PrimaryStationAsset)</li>
    }
    else if (poi.GetType() == typeof(KupPointsOfInterestAsteroid))
    {
            <li>@(((KupPointsOfInterestAsteroid) poi).AsteroidAsset)</li>
    }else if (poi.GetType() == typeof(KupPointsOfInterestWorld))
    {
                
            <li>@(((KupPointsOfInterestWorld) poi).WorldAsset)</li>
    }else if (poi.GetType() == typeof(KupPointsOfInterestStation))
    {
                        
            <li>@(((KupPointsOfInterestStation) poi).StationAsset)</li>
    }else if (poi.GetType() == typeof(KupPointsOfInterestOther))
    {
                        
            <li>@(((KupPointsOfInterestOther) poi).OtherAsset)</li>
    }else{
        <li>@poi</li>
            
    }
}
</ul>