@using KnownUniversePoliticsGameWebApp.Data
@inject KUPEventService EventService;
<h3>@Faction.Name - @Faction.Player.Name</h3>

@code {
   [Parameter]
   public KUPFaction Faction { get; set; }
}

<p>Money: $@Faction.Money</p>
<p>Influence: 😊@Faction.Influence</p>

<details>
   <summary>Events & Notifications</summary>
   <ul>
      @foreach (var evnt in EventService.GetEvents(Faction.ReciverID))
      {
         <li> @evnt</li>
      }
      
   </ul>
</details>
<details>
   <summary>Military Assets</summary>
   <ul>
      
      @foreach (var asset in Faction.Assets.Where(x => x.GetType() == typeof(KUPCombatAsset)))
      {
         <option>
            <li>@asset</li>
         </option>
      }
   </ul>
</details>
<details>
   <summary>Location Assets</summary>
   <ul>
      @foreach (var locations in Faction.GetFilledSystems())
      {
         <option>
            <li>
               <a href="/SystemViewer/@locations.Location.SystemX/@locations.Location.SystemX"> @locations</a>
            </li>
         </option>
      }
   </ul>
</details>