@using KnownUniversePoliticsGameWebApp.Data
@inject KnownUniversePoliticsGameService PoliticsGameService
@inject KUPEventService EventService;
<h3 align="center">Player View Faction Relationships</h3>

@code {
    [Parameter] public KUPPlayer player { get; set; }

}


    <div>
        <ul class="list-group">
            @foreach (var faction in player.Faction.FactionRelationships)
            {
                @if (faction.Value == FactionRelationshipOptions.Peace)
                {
                    <div class="hstack gap-2 align-content-center mx-auto p-2" style="width: 400px">
                        <li class="list-group list-group-item-warning rounded" style="width: 400px">
                            <p>@faction.Key</p>
                            <p class="text-warning">Current Relationship: @faction.Value</p>
                            <div class="hstack gap-2 align-items-center p-1" >
                                <button class="btn btn-danger text-nowrap" type="button" @onclick="() => EventService.AddEvent(new KUPWarDeclareEvent(player.Faction.SenderID, faction.Key.ReceiverID))">To War!</button>
                                <button class="btn btn-info text-nowrap" type="button" @onclick="() => EventService.AddEvent(new KUPDefenseEvent(player.Faction.SenderID, faction.Key.ReceiverID))">Oath Defense</button>
                                <button class="btn btn-success text-nowrap" type="button"  @onclick="() => EventService.AddEvent(new KUPAllianceEvent(player.Faction.SenderID, faction.Key.ReceiverID))">Oath Alliance</button>
                            </div>
                        </li>
                    </div>
                }

                @if (faction.Value == FactionRelationshipOptions.War)
                {
                    <div class="hstack gap-2 align-content-center mx-auto p-2" style="width: 400px">
                        <li class="list-group list-group-item-danger rounded" style="width: 400px">
                            <p>@faction.Key</p>
                            <p class="text-danger">Current Relationship: @faction.Value</p>
                            <button class="btn btn-success " type="button" @onclick="() => EventService.AddEvent(new KUPPeaceEvent(player.Faction.SenderID, faction.Key.ReceiverID))">Declare Peace!</button>
                        </li>
                    </div>
                }

                @if (faction.Value == FactionRelationshipOptions.DefenceAlliance)
                {
                    <div class="hstack gap-2 align-content-center mx-auto p-2" style="width: 400px">
                        <li class="list-group list-group-item-info rounded" style="width: 400px">
                            <p>@faction.Key</p>
                            <p class="text-info">Current Relationship: @faction.Value</p>
                            <div class="hstack gap-2 align-items-center p-1">
                                <button class="btn btn-success " type="button" @onclick="() => EventService.AddEvent(new KUPPeaceEvent(player.Faction.SenderID, faction.Key.ReceiverID))">Declare Peace!</button>
                                <button class="btn btn-info" @onclick="() => EventService.AddEvent(new KUPAllianceEvent(player.Faction.SenderID, faction.Key.ReceiverID))">Oath Alliance</button>
                            </div>
                        </li>
                    </div>
                }

                @if (faction.Value == FactionRelationshipOptions.TotalAlliance)
                {
                    <div class="hstack gap-2 align-content-center mx-auto p-2" style="width: 400px">
                        <li class="list-group list-group-item-success rounded" style="width: 400px">
                            <p>@faction.Key</p>
                            <p class="text-success">Current Relationship: @faction.Value</p>
                            <div class="hstack gap-2 align-items-center p-1">
                                <button class="btn btn-success " type="button" @onclick="() => EventService.AddEvent(new KUPPeaceEvent(player.Faction.SenderID, faction.Key.ReceiverID))">Declare Peace!</button>
                                <button class="btn btn-info " @onclick="() => EventService.AddEvent(new KUPDefenseEvent(player.Faction.SenderID, faction.Key.ReceiverID))">Oath Defense</button>
                            </div>
                        </li>
                    </div>
                }
            }
        </ul>
              
    </div>